<nav class="site-nav">
  <a href="{{ '/' | relative_url }}" class="site-nav__logo">DLOCKAMY</a>
  <ul class="site-nav__links">
    <li><a href="{{ '/projects/' | relative_url }}">Projects</a></li>
    <li><a href="{{ '/blog/' | relative_url }}">Blog</a></li>
    <li><a href="{{ '/connect/' | relative_url }}">Connect</a></li>
    <li><a href="{{ '/about/' | relative_url }}">About</a></li>
  </ul>
  <div class="site-nav__status">
    <span><span class="status-dot"></span>SYS NOMINAL</span>
    <span id="nav-clock">--:--:--</span>
  </div>
</nav>
