<nav class="site-nav">
  <a href="{{ '/' | relative_url }}" class="site-nav__logo">DLOCKAMY</a>
  <ul class="site-nav__links">
    <li><a href="{{ '/projects/' | relative_url }}">Systems</a></li>
    <li><a href="{{ '/projects/' | relative_url }}">Projects</a></li>
    <li><a href="{{ '/posts/' | relative_url }}">Archive</a></li>
    <li><a href="#uplink">Contact</a></li>
  </ul>
  <div class="site-nav__status">
    <span><span class="status-dot"></span>SYS NOMINAL</span>
    <span id="nav-clock">--:--:--</span>
  </div>
</nav>
