<!DOCTYPE html>
<html lang="en-US"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="profile" href="http://gmpg.org/xfn/11">
	<title>dlockamy – My God, It's Full of Bits…..</title>

<link rel="stylesheet" id="businessbuilder-style-css" href="./css/style.css" type="text/css" media="all">

<style type="text/css">
    header#masthead { background-color: #000000; }
    .site-title{ color: #000000; }
    p.site-description:before{ background: #000000; }
    p.site-description{ color: #000000; }  
</style>

<meta name="description" content="My God, It&#39;s Full of Bits.....">

<style type="text/css" id="businessbuilder-header-css">
	header#masthead {
		background-image: url(images/photo-330771.jpeg);
	}		
</style>
</head>

<body class="home page-template-default page page-id-62">
	<div id="page" class="site">
		<a class="skip-link screen-reader-text" href="https://dlockamy.com/#content">Skip to content</a>
		<header id="masthead" class="site-header" role="banner">
						<div class="site-branding container">
								<a href="https://dlockamy.com/">
					<span class="site-title">
						dlockamy					</span>
				</a>
				<p class="site-description">
					My God, It's Full of Bits…..				</p>
			</div>
		
<nav id="site-navigation" class="main-navigation" role="navigation">
	<div class="top-nav container">
		<button class="menu-toggle" aria-controls="primary-menu" aria-expanded="false" style="display: none;">
			<span class="m_menu_icon"></span>
			<span class="m_menu_icon"></span>
			<span class="m_menu_icon"></span>
		</button>
		<div class="mobile-site-name">
			<a href="https://dlockamy.com/">
				dlockamy			</a>
		</div>
		<div class="menu-wrapper">
					</div>
	</div>
</nav><!-- #site-navigation -->
</header><!-- #masthead -->
		<div class="container">
		<div class="top-widget-container">
			<div class="top-widget-grid">
				<div class="widget_text top-widgets-wrapper"><div class="textwidget custom-html-widget"><a href="https://twitter.com/fuciferdesign">
<svg height="128" width="128" viewBox="328 355 335 276" xmlns="http://www.w3.org/2000/svg">
  <path d="
    M 630, 425
    A 195, 195 0 0 1 331, 600
    A 142, 142 0 0 0 428, 570
    A  70,  70 0 0 1 370, 523
    A  70,  70 0 0 0 401, 521
    A  70,  70 0 0 1 344, 455
    A  70,  70 0 0 0 372, 460
    A  70,  70 0 0 1 354, 370
    A 195, 195 0 0 0 495, 442
    A  67,  67 0 0 1 611, 380
    A 117, 117 0 0 0 654, 363
    A  65,  65 0 0 1 623, 401
    A 117, 117 0 0 0 662, 390
    A  65,  65 0 0 1 630, 425
    Z" style="fill:#3BA9EE;"></path>
</svg></a></div></div>			</div>
			<div class="top-widget-grid">
				<div class="widget_text top-widgets-wrapper"><div class="textwidget custom-html-widget"><a href="https://www.linkedin.com/in/douglas-lockamy-49097b33/"><svg height="128" width="128" viewBox="0 50 512 512">
        <path fill="#828282" d="M150.65,100.682c0,27.992-22.508,50.683-50.273,50.683c-27.765,0-50.273-22.691-50.273-50.683
        C50.104,72.691,72.612,50,100.377,50C128.143,50,150.65,72.691,150.65,100.682z M143.294,187.333H58.277V462h85.017V187.333z
        M279.195,187.333h-81.541V462h81.541c0,0,0-101.877,0-144.181c0-38.624,17.779-61.615,51.807-61.615
        c31.268,0,46.289,22.071,46.289,61.615c0,39.545,0,144.181,0,144.181h84.605c0,0,0-100.344,0-173.915
        s-41.689-109.131-99.934-109.131s-82.768,45.369-82.768,45.369V187.333z"></path></svg></a>
</div></div>			</div>
			<div class="top-widget-grid">
				<div class="widget_text top-widgets-wrapper"><div class="textwidget custom-html-widget"><a href="https://github.com/dlockamy"><svg height="128" width="128" class="octicon octicon-mark-github" viewBox="0 0 16 16" version="1.1" aria-hidden="true"><path fill-rule="evenodd" d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.013 8.013 0 0 0 16 8c0-4.42-3.58-8-8-8z"></path></svg></a></div></div>			</div>
		</div>
	</div>
<div id="content" class="site-content">
	<div id="primary" class="content-area container">
		<main id="main" class="site-main full-width" role="main">		
			<article id="post-62" class="post-62 page type-page status-publish hentry">
				<header class="entry-header">
				</header><!-- .entry-header -->

				<div class="entry-content">
				</div><!-- .entry-content -->	
			</article><!-- #post-## -->
		</main><!-- #main -->	
	</div><!-- #primary -->
</div><!-- #content -->
<footer id="colophon" class="site-footer" role="contentinfo">
	<div class="site-info">
		<div class="container">© 2017 dlockamy</div>
	</div>
</footer>
</div>
</body>
</html>
